<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="utf-8">
        <title>404 Page</title>
        <link rel="icon" href="/images/icon4.png">
        <link rel="stylesheet" href="../css/style.css">
    </head>
<body>
    <div class="main">
         {{>header}}
        <p>{{errmsg}}</p>
    </div>
   {{>footer}}
</body>
</html>