<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./css/style.css">
        <title>About</title>
        <link rel="icon" href="/images/icon2.png">

    </head>
    <body>
        <div class="main">
            {{>header}}
        <img class="potrait" src="./images/aditya.jpg">
        <h2>{{aboutme}}</h2>
        </div>
        {{>footer}}
    </body>
</html>