<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../css/style.css">
        <title>Help</title>
        <link rel="icon" href="/images/icon3.png">
    </head>
    <body>
        <div class="main">
            {{>header}}
        <p>{{message}}</p>
        <h3>{{feedback}}</h3>
        <textarea placeholder="Write comments here!" maxlength="500">Hey there</textarea>
        </div>
        
        
        {{>footer}}
    </body>
</html>